fastapi
uvicorn
langchain
openai
langchain-postgres
langchain-openai
pypdf2
pandas
psycopg2
psycopg-binary
python-dotenv
python-multipart
pymongo
pydantic[email]

# To install psycopg2 follow below installations
 
# (1) pip install --upgrade wheel
# (2) pip install --upgrade setuptools
# (3) pip install psycopg2

